*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior:smooth ;
}
.head{
    background-color: rgb(226, 232, 252);
    position:fixed;
    top:0;
    width:100%;
     padding:1%; 
    display: flex;
    flex-direction: column ;
    justify-content: center;
    z-index: 10;
}
.head h3{
    text-align: center;
    margin-bottom: 20px;
}
.head h3::before{
    content: ''; 
    position: fixed;
    width: 40%;
    height: 1px;
    background-color: rgba(127, 108, 233, 0.407);
    top: 55px;
    left: 30%;   
}
.head nav{
    text-align: center;
    
}
.head nav a{
    margin: 20px;
}
.home{
    background-image: url("./banner-bg.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
}
.text{
    text-align: center;
    color: white;
}
.text p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}
.text h3{
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}
.text a:hover{
    background-color: red;
    box-shadow: 1px 1px 1px 1px #ffffffbf;
}
.text a{
    background-color: lightsalmon;
    color: white;
    font-size: 16px;
    padding: 10px;
}

.menu1{
    display:flex;
    justify-content:center;
}
.menu2 div img{
    margin: 10% 30px;  
}
.part2{
    text-align: center;
}
.cook1{
    margin-top: 15%;
}
.details{
    margin-top: 12%;
    padding: 0px 8%;
    padding-bottom: 4.5%;
    background-color: rgb(222, 61, 52);
    line-height: 60px;
}
.details:hover{
    transform:scale(1.2);
    transition: all 2s ease;
    box-shadow:5px 5px 5px black;
}
.details a:hover{
    color:black;
    border-radius:10%;
}
.details h4{
    font-size: 18px;
    color: white;
}
.inner-box {
    background-color: lightcoral;
    min-width: 100%;
    opacity: 0.9;
    color: white;
}
.details a{
    background-color: white;
    color: lightcoral;
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
}
.menu2{
    margin: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.menu2 img{
    border: 10px solid lightblue;
    border-radius: 50%;
    margin: 0px 5%;
}
/* .menu2 > div:hover ~ img {
    transform: rotateX(360deg);
} */
.img-round p{
font-size: 18px;

}
.part3{
    background-image: url(./book-bg.jpg);
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.book-container{
    display: flex;
}
 .part3 .booking{
    text-align: center;
    color:white;
    z-index:2;
}
.book-1{
    display: flex;
}
.reservation p{
    /* text-align: center; */
}
.reservation{
    display: grid;
    grid-template-areas: 'a a';
    margin: 10%;
}
.reservation div{
    padding: 10% 5%;
}
.select-day select,.select-hour select,.input-name input, .select-p select{
    min-width: 10vw;
    min-height:30px;
}
.select-button button{
    width: 100%;
    background-color: lightcoral;
    color: white;
    padding: 10px;
    border: 0px ;
}
.part4{
    background-color: rgb(222, 61, 52);
    width:100%;
    text-align: center;
     padding:4%;
}
.part4 p{
    color:white;
    margin-bottom:2%;
}
.part4 a{
    width:10%;
    border:0px solid;
    background-color:white;
    margin-top: 4%;
    border-radius: 5px;
    padding:1.2%;
    color: rgb(222, 61, 52);
}
.part5 h3 {
    text-align: center;
    margin:5%;
}
.featured-food{
    display: flex;
    justify-content: center;
    gap:3%;

}
.book-2{
    background-color: white;
    width: 40vw;
}
.select-button button{
    width: 100%;
    font-size: 1.2rem;
    border-radius: 10px;
}
.select-button button:hover{
    background-color:  rgb(222, 61, 52);
}
::placeholder{
    font-size: 1rem;
    margin-left: 2vw;
}
.part4 p{
    font-size: 2em;
    font-weight: 600;
}
.book-2 p{
    text-align: center;
    font-size: 1.8rem;
}
.booking p{
 margin-bottom: 10vh;
 font-size: 1.4rem;
}
.bfast{
    border:0px solid;
    width:20%;
    height:50vh;
    background-color:  rgb(226, 232, 252);
    
}
.bfast p{
    margin-left:10%;
    padding:1%;
    font-size: 20px;
    /* margin-top:1%; */
}
/* .bfast p::before{
    content:'';
    position: relative;
    width: 20%;
    height: 1px;
    background-color: rgba(17, 17, 18, 0.407);
    top: 5px;
    left: 30%;   
} */
.bfast .price{
    border: 0px solid;
    width: 20%;
    position:relative;
    padding:1.5% ;
    bottom:31px;
    left:70%;
    color: rgb(222, 61, 52); 
    background-color:  #dcd9d9dc;
    text-align: center;
}
.bfast1{
    border:0px solid;
    width:80%;
    height:40vh;
    margin: 0 10%;
    margin-top:8%;
    margin-bottom:3%;
    background-color: white; 
}
.bfast1 h5{
    margin-left:5%;
    font-size:20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: 20%;
    margin-bottom:2%;
    
}
.bfast1 p{
    font-size:15px;
    font-family: 'Times New Roman', Times, serif;
    line-height:20px;      
}
.part6{
    margin-top: 8%;
    min-width:100%;
    min-height:30%; 
    background-color: rgb(226, 232, 252);
    
}
.part6 h4{
    text-align: center;
    font-size: 1.5em;
    padding:5%;
}
/* .part6 .blog-food1{
  margin: 0 8%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
  
} */
.date{
    position: relative;
}
.date p{
    position: absolute;
    top: 0px;
    background-color: #dcd9d9dc;
    padding: 10px;
    color: orange;
    font-weight: bold;
}
.blog1{
    display: flex;
    flex-direction: row;
    background-color: white;
}
.blog2{
    margin-bottom: 10%;
}
.blog1 .date{
    width: 100%;
    
}
.blogtext{
    padding: 10px;
}
.signup-section{
    background-image: url("./banner-bg.jpg");
    min-width: 100%;
    min-height: 40vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup-section div h4{
    font-size: 2em;
    color: white;
    padding-bottom: 10px;
}
.signup-section input-sign{
    display: grid;
    grid-template-areas: 'a a';
}
.signup-section div .text-place{
    width: 55%;
    min-height: 40px;
    background-color: #ffffffbf;
    border: 0px;
    border-radius: 5px;
}
.signup-section div .text-place::placeholder{
    font-size: 12px;
}
.signup-section div .button-send{
    background-color: transparent;
    border: 2px solid white;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(100, 100, 227);
    padding: 20px;
}
.icons div{
    background-color: white;
    border-radius: 50%;
    padding: 10px;
    color: black;
    margin: 0px 10px;
}
@media screen and (min-width:1091px) {
    .part6 .blog-food1{
        margin: 0 8%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        
      }
}
@media screen and (min-width:600px) and (max-width:1090px) {
    .menu1{
        display: grid;
        grid-template-areas: 'a';
    }
    .menu2{
        display: grid;
        grid-template-areas: 'a a';
    }
    .input-name{
        display: grid;
        grid-template-areas: 'a';
    }
    .bfast{
        min-width: 30%;
    }
    .blog-food1{
        display: grid;
        grid-template-areas: 'a a';
        gap: 20px;
        margin: 20px;
    }
    .blog1{
        display: grid;
        grid-template-areas: 'a';
    }
    .blog1 .date img{
        width: 100%;
    }
}
@media screen and (min-width:300px) and (max-width:599px) {
    .head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 100%;
    }
    .menu1{
        display: grid;
        grid-template-areas: 'a';
    }
    .menu2{
        display: grid;
        grid-template-areas: 'a';
    }
    .book-container{
        display: grid;
        grid-template-areas: 'a';
    }
    .book-2{
        width: 100%;
    }
    .input-name{
        display: grid;
        grid-template-areas: 'a';
    }
    .featured-food{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        margin-left: 20%;
    }
    .bfast{
        min-width: 80%;
    }
    .blog-food1{
        display: grid;
        grid-template-areas: 'a';
    }
    .blog1{
        display: grid;
        grid-template-areas: 'a';
        margin: 20px;
    }
    .blog1 .date img{
        width: 100%;
    }
    .footer-section{
        display: grid;
        grid-template-areas: 'a';
        gap: 20px;
        justify-content: center;
    }
    .footer-section .icons,.footer-section .design{
        margin-left: 20%;
    }
}
 /* @media screen and (min-width:470px){
   .menu1{
    display:block;
   }
   .details{
    margin:0px 20px;
    margin-top:30px;
   }

    .book-container{
        display:block;
    }
    .reservation{
        display: block;
        margin-left:30%;
    }
    .book-2{
       width: 80vw;
    }
    .select-button button{
        width:25vw;
    }
    .featured-food{
        display: block;
        margin : 4% 0;
    }
    .menu2{
        display:block;
        margin:0% 0px;
    }
    .bfast{
        width:80%;
        height: 40vh;
        margin-left:10%;
    }
     .blogentries .blog-food1{
        display: block;
    }
}

@media screen and (min-width:762px){
    .menu1{
        display:flex;
    }
    .cook1 img{
        width:100%;
    }
    .details{
        height:23vh; 
        margin-top:10%;   
    }
    .menu2{
        display: grid;
        grid-template-areas:'a a ' ;
    }
    .booking p{
        margin-bottom:2vh;
    }
    .book-1{
        margin-left: 20%;
        margin-bottom:10%;
    }
    .reservation{
        display: grid;
        grid-template-areas: 'a a';
        margin-left: 20% ;
    }
    .select-button button{
        padding:2% 3%;
    }
    .part3{
        min-height:50vh;
    }
    .part6 .blog-food1{
        display:block;
    }
    .blog1{
        margin-bottom:10%;
    }
    .bfast{
        margin-bottom:5%;
    }
} */

 
